<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n</property>
        <property name="pattern_console">%d{HH:mm:ss} %-5level %logger{1} - %msg%n</property>
    </Properties>
    <ThresholdFilter level="trace"/>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
            <Filters>
                <MarkerFilter marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Console>

        <File name="File1" fileName="${LOG_DIR}/text.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>

        <RollingFile name="FileRolling"  fileName="logs/text_roll.log"
                     append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="Log_Console" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Rolling_File" level="info" additivity="false" >
            <AppenderRef ref="FileRolling"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="FileRolling"/>
            <AppenderRef ref="Console" level="trace"/>
        </Root>
    </Loggers>
</Configuration>